.contenedor-fecha{
    width: 150px;
}

th{
    text-align: center;
}

.color-red{
    color: red;
}

.color-green{
    color: green;
}

.color-primary{
    color: #007bff;
}

#host{
    display: none;
}

#loginModal{
    background-color: black;
}