.contenedor-fecha {
  width: 150px;
}

th {
  text-align: center;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.color-primary {
  color: #007bff;
}

#host {
  display: none;
}

#loginModal{
    background-color: black;
}

.ardilla-img{
    width: 150px;
    height: 150px;
}

.ardilla-feliz{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}
#loginModal {
  background-color: black;
}

#pagination-menu {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  #pagination-menu {
    overflow: scroll;
  }
}
